SoapConsoleClient/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2844/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapWebService" />
  <xs:element name="piValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="piValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="piValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="absValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="absValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="absValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="computeStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="computeStatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoapWebService" minOccurs="0" name="computeStatResult" nillable="true" type="q1:results" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myBMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myBMIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myBMIResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoapWebService" minOccurs="0" name="myHealthResult" nillable="true" type="q2:bmi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>