SoapConsoleClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2844/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2844/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2844/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapWebService" />
      <xsd:import schemaLocation="http://localhost:2844/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_piValue_InputMessage">
    <wsdl:part name="parameters" element="tns:piValue" />
  </wsdl:message>
  <wsdl:message name="IService1_piValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:piValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_absValue_InputMessage">
    <wsdl:part name="parameters" element="tns:absValue" />
  </wsdl:message>
  <wsdl:message name="IService1_absValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:absValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_add2_InputMessage">
    <wsdl:part name="parameters" element="tns:add2" />
  </wsdl:message>
  <wsdl:message name="IService1_add2_OutputMessage">
    <wsdl:part name="parameters" element="tns:add2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_computeStat_InputMessage">
    <wsdl:part name="parameters" element="tns:computeStat" />
  </wsdl:message>
  <wsdl:message name="IService1_computeStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:computeStatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_myBMI_InputMessage">
    <wsdl:part name="parameters" element="tns:myBMI" />
  </wsdl:message>
  <wsdl:message name="IService1_myBMI_OutputMessage">
    <wsdl:part name="parameters" element="tns:myBMIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_myHealth_InputMessage">
    <wsdl:part name="parameters" element="tns:myHealth" />
  </wsdl:message>
  <wsdl:message name="IService1_myHealth_OutputMessage">
    <wsdl:part name="parameters" element="tns:myHealthResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="piValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/piValue" message="tns:IService1_piValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/piValueResponse" message="tns:IService1_piValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="absValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/absValue" message="tns:IService1_absValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/absValueResponse" message="tns:IService1_absValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add2" message="tns:IService1_add2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/add2Response" message="tns:IService1_add2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="computeStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/computeStat" message="tns:IService1_computeStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/computeStatResponse" message="tns:IService1_computeStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="myBMI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/myBMI" message="tns:IService1_myBMI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/myBMIResponse" message="tns:IService1_myBMI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="myHealth">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/myHealth" message="tns:IService1_myHealth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/myHealthResponse" message="tns:IService1_myHealth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="piValue">
      <soap:operation soapAction="http://tempuri.org/IService1/piValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="absValue">
      <soap:operation soapAction="http://tempuri.org/IService1/absValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add2">
      <soap:operation soapAction="http://tempuri.org/IService1/add2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="computeStat">
      <soap:operation soapAction="http://tempuri.org/IService1/computeStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myBMI">
      <soap:operation soapAction="http://tempuri.org/IService1/myBMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myHealth">
      <soap:operation soapAction="http://tempuri.org/IService1/myHealth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:2844/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>